<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>World Data</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form class="search-input" action="/view-by-continent" method="post">
      <label for="search-by-continent">Search by Continent</label>
      <input id="search-by-continent" name="search-by-continent" type="text">
      <button type="submit" name="button">Search</button>
    </form>
    <div class="container">
      <table>
        <thead>
          <th>Country Code</th>
          <th>Country</th>
          <th>Continent</th>
          <th>Government</th>
          <th>Head of State</th>
          <th>Capital</th>
        </thead>
          @foreach(var country in Model)
            {
              <tr>
                <td>@country.GetCode()</td>
                <td>@country.GetName()</td>
                <td>@country.GetContinent()</td>
                <td>@country.GetGovernmentForm()</td>
                <td>@country.GetHeadOfState()</td>
              </tr>

            }
      </table>
    </div>
  </body>
</html>
